.textAreaContainer {
   display: flex;
   justify-content: center;
   position: relative;
}

.textArea {
   width: 90%;
   display: block;
}

.textArea:focus {
   outline: none;
}

.textArea.error {
   border: 1px solid red;
}

.errorDescription {
   color: red;
   position: absolute;
   top: 105%;
}