.header {
  position: relative;
  overflow: hidden;
  grid-area: header;
  background-color: green;
} 

.header img {
  position: absolute;
  top: -230%;
  min-width: 100%;
  z-index: 1;
}

.loginContainer {
  float: right;
  clear: both;
  z-index: 10;
}

.loginContainer a {
  z-index: 10;
}

.login {
  z-index: 10;
}

.logout {
  float: right;
}